<div class="dashboard-container">


  <!-- Section utilisateur -->
  <div class="user-profile">

    <!-- Info Profil -->
    <div class="profile-picture">
      <%= user_avatar(current_user) %>
    </div>
    <h2><%= current_user.name %></h2>
    <p>Nombre de Lodge : <%= current_user.stars.count %></p>

    <!-- Résa Accept/Reject -->
      <div class="reservation-requests">
        <h3>Demandes de réservation</h3>
        <% @stars.each do |star| %>
          <% star.reservations.where(status: false).each do |reservation| %>
            <div class="reservation-card">
              <h4><%= reservation.user.name %> aimerait réserver <%= star.name %></h4>
              <p><%= reservation.start_date.strftime("%d %B") %> - <%= reservation.end_date.strftime("%d %B %Y") %></p>
              <p>Prix total : <%= reservation.total_price %> €</p>
              <div class="buttons">
                <%= link_to "Accepter", custom_accept_reservation_path(reservation), data: { turbo_method: :patch }, class: "btn btn-success" %>
                <%= link_to "Rejeter", custom_reject_reservation_path(reservation), data: { turbo_method: :patch }, class: "btn btn-danger" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

  <!-- Section utilisateur -->
  </div>

  <!-- Section utilisateur -->
  <div class=" dashboard-panels">

    <!-- Mes Étoiles -->
    <div class="user-properties panel">
      <h3>Mes Lodges Intersellaires</h3>
      <div class="cards-container">
        <% current_user.stars.each do |star| %>
          <div class="card">
            <!-- Remplacer l'image par un fond bleu avec le texte "Image" -->
            <% if star.photo.attached?%>
              <%= cl_image_tag star.photo.key, class: "card-image" %>
            <% elsif star.image_url.present? %>
              <%= image_tag star.image_url, class: "card-image" %>
            <% else %>
              <%= image_tag "default_image.jpg", alt: "Image par défaut", class: "card-image" %>
            <% end %>
            <h4><%= star.name %></h4>
            <p><%= star.description %></p>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Mes Réservations -->
    <div class="user-reservations panel">
      <h3>Mes Réservations</h3>
      <div class="cards-container">
        <% current_user.reservations.each do |reservation| %>
          <div class="card">
            <h4><%= reservation.star.name %></h4>
            <p>Du : <%= reservation.start_date %> au <%= reservation.end_date %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
