<div class="container">
  <h1>Tous les astres</h1>

  <div class="row">
    <% @stars.each do |star| %>
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <% if star.image_url.present? %>
              <%= image_tag star.image_url, width: 200, height: 200, crop: :fill %>
            <% else %>
              <%= image_tag "default_image.jpg", width: 200, height: 200, alt: "Image par défaut" %>
            <% end %>
            <h1 class="card-title pt-3"><%= star.name %></h1>
            <p class="card-text">
              <%= star.category %>
            </p>
            <%= link_to "Réserver", star_path(star), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "+", new_star_path, id: "custom-button-plus", class: "btn btn-primary" %>
</div>
