<%= render "devise/shared/navbar" %>
<h2><%= @star.name %></h2>

<p><%= @star.category %></p>
<p><%= @star.description %></p>
<p><%= @star.price %></p>

<%= link_to "Revenir aux astres", stars_path, class: "btn btn-primary" %>
<%= render "devise/shared/footer" %>
